<div>
  <h1>First recipe</h1>
  <h5>Manhattan Clam Chowder</h5>
  <table class="blueTable">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4">
          <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
            <a href="#">4</a> <a href="#">&raquo;</a></div>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>2 </td>
        <td>6 1/2oz cans baby clams</td>
      </tr>
      <tr>
        <td>4</td>
        <td>strip thick cut bacon</td>
      </tr>
      <tr>
        <td>1</td>
        <td>yellow onion</td>
      </tr>
      <tr>
        <td>1</td>
        <td>small green bell pepper</td>
      </tr>
      <tr>
        <td>1</td>
        <td>celery</td>
      </tr>
      <tr>
        <td>2 cups</td>
        <td>cubed potatoes</td>
      </tr>
      <tr>
        <td>1</td>
        <td>14 1/2oz can diced tomatoes</td>
      </tr>
      <tr>
        <td>1 1/2 cup</td>
        <td>tomato juice</td>
      </tr>
      <tr>
        <td>2 tablespoons</td>
        <td>tomato paste</td>
      </tr>
      <tr>
        <td>2</td>
        <td>bay leaves</td>
      </tr>

      <tr>
        <td>1 tsp</td>
        <td>dried oregano</td>
      </tr>

      <tr>
        <td>1/2 tsp</td>
        <td>dried thyme</td>
      </tr>
    </tbody>
  </table>
</div>
